<launch>

<include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch">
    <arg name="public_sim" value="true"/>
    <arg name="world" value="tutorial5"/>
    <arg name="lost" value="true"/>
    <arg name="gzpose" default="-x 0.36  -y -1.15 -z  0.0   -R 0.0 -P 0.0 -Y 3.14" />
</include>

<node name="nav_the_map_node" pkg="nav_the_map" type="nav_the_map_node"/>

</launch>


