<launch>

<include file="$(find tiago_2dnav_gazebo)/launch/tiago_navigation.launch">
    <arg name="public_sim" value="true"/>
    <arg name="world" value="tutorial5"/>
    <arg name="lost" value="true"/>
    <arg name="gzpose" default="-x 0.36  -y -1.15 -z  0.0   -R 0.0 -P 0.0 -Y 3.14" />
</include>

<include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="image" value="/xtion/rgb/image_raw" />
    <arg name="network_param_file"  value="$(find darknet_ros)/config/yolov3.yaml"/>
</include>

<node name="state_machine_node" pkg="state_machine" type="state_machine_node"/>
<node name="move_node" pkg="state_machine" type="move_node"/>

</launch>


